body {
 background-color: #93E9BE;
 font-family: 'Oxygen', sans-serif;
  text-align: center;
  }

button {
  background color: #00FFFF;
  border: none;
  text-align: center;
  font-size: 20px;
  margin: 10px 12px;
 box-shadow: 0 5px #01CBCB
   display: inline-block;
}

button:hover {opacity: 1}

button:active {
  background-color: #55FFFF;
  box-shadow: 0 2px #01CBCB;
  transform: translateY(4px);
 cursor: pointer;
}
