body {
 background-color: #93E9BE;
 opacity: 0.5;
 font-family: "Lucida Console", "Courier New", monospace";
  text-align: center;
  }

.profile {
  background color: #00FFFF;
  border: none;
  text-align: center;
  font-size: 20px;
  margin: 10px 12px;
}
